
<h1>Chronotron</h1>
<div class="time">
	How much time would you like to waste?
	<input type="radio" name="time-limit" value="five"> 5 min
	<input type="radio" name="time-limit" value="twenty"> 20 min
	<input type="radio" name="time-limit" value="fourty"> 40 min
	<input type="radio" name="time-limit" value="hour"> 1 Hour
	<input type="radio" name="time-limit" value="two-hour"> 2+ Hours
</div>
<div class="choices">
	<div class="choice">
		<img src="/images/music.png">
		<a href="/auth/spotify">Music</a>
	</div>
	<div class="choice">
		<a href="/youtube">Videos</a>
	</div>
	<div class="choice">
		<a href="/trivia">Trivia</a>
	</div>
	<div class="choice">
		<a href="/trail">Trails</a>
	</div>
</div>

