<h1>Chronotron</h1>
<button id="modalbtn">Instructions</button>
<div class="time">
	How much time would you like to waste?
	<input type="radio" name="time-limit" value="five"> 5 min
	<input type="radio" name="time-limit" value="twenty"> 20 min
	<input type="radio" name="time-limit" value="fourty"> 40 min
	<input type="radio" name="time-limit" value="hour"> 1 Hour
	<input type="radio" name="time-limit" value="two-hour"> 2+ Hours
</div>
<div class="choices">
	<div class="choice">
		<img src="/images/music.png">
		<%= link_to 'Music', '/auth/spotify' %>
	</div>
	<div class="choice">
		<img src="/images/trivia.png">
		<a href="/trivia">Trivia</a>
	</div>
	<div class="choice">
		<img src="/images/video.png">
		<a href="/youtube">Videos</a>
	</div>
	<div class="choice">
		<img class="trail-icon" src="/images/hike.png">
		<a href="/trail">Trails</a>
	</div>
</div>
<div id="hpmodal" class="modal">
	<div class="modal-content">
		<span class="close">&times;</span>
		<p>Chronotron helps you do something semi-productive with the extra time in your day instead of refreshing your FacePage repeatedly.</p>
		<p>To get started, choose the amount of time you have to waste. Then select how you'd like to spend that time. You'll be taken to a page with content that will help you fill that time, and you'll also be given suggestions for related content you might enjoy.</p>
	</div>
</div>
