
<h1>Chronotron</h1>
<div class="time">
	How much time would you like to waste?
	<input type="radio" name="time-limit" value="five"> 5 min
	<input type="radio" name="time-limit" value="twenty"> 20 min
	<input type="radio" name="time-limit" value="fourty"> 40 min
	<input type="radio" name="time-limit" value="hour"> 1 Hour
	<input type="radio" name="time-limit" value="two-hour"> 2+ Hours
</div>
<div class="choices">
	<div class="choice">
		<img src="/images/music.png">
		<%= link_to 'Music', '/auth/spotify' %>
	</div>
	<div class="choice">
		<img src="/images/trivia.png">
		<a href="/trivia">Trivia</a>
	</div>
	<div class="choice">
		<img src="/images/video.png">
		<a href="/youtube">Videos</a>
	</div>
	<div class="choice">
		<img src="/images/hike.png">
		<a href="/trail">Trails</a>
	</div>
</div>
<div class="go">
		<button>Let's go!</button>
</div>


