<h1>YouTubeController#search</h1>
<h1>Search Youtube</h1>

<%= form_tag("/you_tube_controller/search", method: "post") do %>
  <%= label_tag(:keyWord, "Search Youtube") %>
  <%= text_field_tag(:keyWord) %>
  <%= submit_tag("Search") %>
<% end %>
