<h1>YouTubeController#show</h1>
<p>Find me in app/views/you_tube_controller/show.html.erb</p>
<iframe src='https://www.youtube.com/embed/eq--V9P4rmM?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
