<h2 class="trivia-color">Chronotron Trivia</h2>
<div id="quiz"></div>
<div class='trivia-btn button' id='next'><a href='#'>Next</a></div>
<div class='trivia-btn button' id='submit'><a href='#'>Submit</a></div>
<script src="js/trivia.js"></script>

