<div class="category trivia-pg">
	<div class="trivia-content">
		<h2>Chronotron Trivia</h2>
		<div class="trivia-question">
			<div id="quiz">
			</div>
			<div class='trivia-btn button trivia-next' id='next'><a href='#'>Next</a></div>
			<div class='trivia-btn button trivia-submit' id='submit'><a href='#'>Submit</a></div>
		</div>
	</div>
</div>
<script src="js/trivia.js"></script>




