/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-family: 'Droid Sans', sans-serif ;
	display: flex;
	flex-direction: row;
	margin: 0;
	width: 100%;
}


a {
	text-transform: uppercase;
	text-decoration-line: none;
	font-weight: 700;
	font-family: 'Jura', sans-serif;
}

a:hover {
	color: #9D2EF2;
}

h1 {
	text-align: center;
	font-size: 5em;
	margin-bottom: .2em;
	margin-top: 0;
	font-weight: 400;
}

h2 {
	font-size: 3em;
	font-weight: 400;
}

h3 {
	font-size: 1.5em;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Jura', sans-serif;
}

input {
	border: none;
	background-color: #fff;
}

.time {
	margin-top: 2em;
	text-align: center;
	margin-bottom: 4em;
}

.time-choices {
	font-size: 1.3em;
}

.time-choices
input[type=radio] {
/*	display: inline-block;
	margin-left: 2em;*/
	display: none;
}

.time-choices
input[type=radio] + label {
	margin-left: 2em;
	border-bottom: 2px solid #000;
	padding-bottom: 4px;
}

.time-choices
input[type=radio]:checked + label {
	 border-bottom: 4px solid #9D2EF2;
}

.search-params {
	width: 100%;
	font-family: 'Jura', sans-serif;
	font-weight: 700;
	margin-bottom: 1em;
	text-align: left;
}

.terms input {
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
}

.choice-header {
	text-align: center;
	margin-top: 1.5em;
}

.choices {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
	margin-bottom: 2em;
	font-size: 15px;
}

.choice {
	box-sizing: border-box;
	width: 24%;
	padding: 1em;
}

.choice img {
	width: 70%;
	margin-bottom: 1em;
}

.choice h3 {
	font-weight: 700;
	color: #fff;
}

.choice:nth-child(1) {
	background-color: #FF0037;
}

.choice:nth-child(2) {
	background-color: #FFA100;
}

.choice:nth-child(3) {
	background-color: #1ED760;
}

.choice:nth-child(4) {
	background-color: #06D5DB;
}

.trail-icon {
	margin-top: 1em;
}


/* MODAL */

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
	overflow: auto;
}

.intro {
	float: top-left;
	margin-top: 1em;
	margin-left: 1em;
}

#modalbtn {
	border: 1px solid #000;
	background-color: transparent;
	padding: 10px;
	font-size: 1em;
}

.modal-content {
	border: 4px solid black;
	width: 50%;
	margin: auto;
	padding: 2em;
	padding-bottom: 3em;
	margin-top: 2em;
	background-color: #fff;
}

.modal-content img {
	width: 20%;
}

.close {
	font-size: 2em;
	font-weight: 700;
	color: black;
	float: right;
}

.close:hover,
.close:focus {
	color: #9D2EF2;
	text-decoration: none;
	cursor: pointer;
}

/* navbar */

.navbar {
	width: 200px;
	max-width: 30%;
	height: 100vh;
	padding: 1em;
	background-color: #fff;
}

.navbar a {
	color: #000;
}

.navbar a:hover {
	color: #9D2EF2
}

.navbar img {
	width: 80%;
}

.nav-value {
	font-weight: 700;
}

.chosen {
	padding-top: 2em;
	padding-bottom: 2em;
	margin-bottom: 2em;
	margin-top: 2em;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.change {
	font-size: 1.1em;
}

.section {
	width: 100%;
}

/* ------- GLOBAL COLORS ------- */

/* Video */
.video-color {
	color: #FF0037;
}

/* Music */
.music-color {
	color: #1ED760;
}

/* Trails */
.trails-color {
	color: #06D5DB;
}

/* Trivia */

.trivia-color {
	color: #FF6600;
}

