/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-family: 'Droid Sans', sans-serif ;
	display: flex;
	flex-direction: row;
	margin: 0;
}


a {
	text-transform: uppercase;
	text-decoration-line: none;
	font-weight: 700;
	font-family: 'Jura', sans-serif;
}

h1 {
	text-align: center;
	font-size: 5em;
	margin-bottom: .2em;
}

h2 {
	font-size: 3em;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Jura', sans-serif;
}

.time {
	margin-top: 4em;
	text-align: center;
	margin-bottom: 4em;
}

.choices {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
}

.choice {
	width: 18%;
	text-align: center;
	padding: 25px;
}

.choice img {
	width: 100%;
	margin-bottom: 1em;
}

.choice a {
	font-size: 2em;
	color: #fff;
}

.choice:nth-child(1) {
	background-color: #FF0037;
}

.choice:nth-child(2) {
	background-color: #FF6600;
}

.choice:nth-child(3) {
	background-color: #CAFF2D;
}

.choice:nth-child(4) {
	background-color: #06D5DB;
}


.trail-icon {
	margin-top: 1em;
}

.go {
	margin-top: 2em;
	text-align: center;
}

.go button {
		padding: 20px;
		border: none;
		font-family: 'Jura', sans-serif;
		font-weight: 700;
		font-size: 2em;
}

/* MODAL */

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
	overflow: auto;
}

.intro {
	text-align: center;
}

#modalbtn {
	border: 1px solid #000;
	background-color: transparent;
	padding: 10px;
	font-size: 1em;
}

.modal-content {
	border: 4px solid black;
	width: 50%;
	margin: auto;
	padding: 2em;
	padding-bottom: 3em;
	margin-top: 2em;
	background-color: #fff;
}

.modal-content img {
	width: 20%;
}

.close {
	font-size: 2em;
	font-weight: 700;
	color: black;
	float: right;
}

.close:hover,
.close:focus {
	color: #9D2EF2;
	text-decoration: none;
	cursor: pointer;
}

/* navbar */

.navbar {
	width: 20%;
	margin-right: 3em;
	padding: 1em;
}

.navbar a {
	color: #000;
}

.category {
	width: 100%;
}

/* Video */
.video-color {
	color: #FF0037;
}

/* Music */
.music-color {
	color: #CAFF2D;
}

/* Trails */
.trails-color {
	color: #06D5DB;
}

/* Trivia */

.trivia-color {
	color: #FF6600;
}

