/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-family: 'Droid Sans', sans-serif ;
}

a {
	text-transform: uppercase;
	text-decoration-line: none;
	font-weight: 700;
	font-family: 'Jura', sans-serif;
}

h1 {
	text-align: center;
	font-family: 'Jura', sans-serif;
	font-size: 5em;
}

.time {
	margin-top: 4em;
	text-align: center;
	margin-bottom: 4em;
}

.choices {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: auto;
}

.choice {
	width: 19%;
	text-align: center;
	padding: 20px;
}

.choice img {
	width: 100%;
	margin-bottom: 1em;
}

.choice a {
	font-size: 2em;
	color: #fff;
}

.choice:nth-child(1) {
	background-color: #B0E863;
}

.choice:nth-child(2) {
	background-color: #815BC2;
}

.choice:nth-child(3) {
	background-color: #F90027;
}
.choice:nth-child(4) {
	background-color: #60E1E5;
}

.trail-icon {
	margin-top: 1em;
}

.go {
	margin-top: 2em;
	text-align: center;
}

.go button {
		padding: 20px;
		border: none;
		font-family: 'Jura', sans-serif;
		font-weight: 700;
		font-size: 2em;
}

/* MODAL */

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#modalbtn {
	border: 1px solid #000;
	background-color: transparent;
	float: right;
}

.model-content {
	margin: 15% auto;
	padding: 20px;
	border: 1px solid black;
	width: 70%;
}

.close {
	float: right;
	font-size: 28px;
	color: black;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
