.music-pg {
	background-color: #1ED760;
	padding: 2em;
}

.music-content {
	margin-left: 15%;
}

h2 {
	margin-bottom: 0;
}

p {
	font-size: 1em;
	line-height: 1.4;
}

.spotify-intro {
	box-sizing: border-box;
	background-color: #fff;
	width: 80%;
	padding: 1em;
	margin-bottom: 1em;
}

.disclaimer {
	font-style: italic;
	font-size: .8em;
}

.music-embed {
	width: 80%;
	border-bottom: 5px solid white;
	padding-bottom: 2em;
}

.music-embed iframe {
	width: 100%;
}

.related-youtube {
	width: 82%;
	margin-top: 1em;
	margin-bottom: 1em;
}
