.music-pg {
	background-color: #1ED760;
	padding: 2em;
}

h2 {
	margin-bottom: 0;
}

p {
	font-size: 1em;
	line-height: 1.4;
}

.spotify-intro {
	background-color: #fff;
	width: 55%;
	padding: 1em;
	margin-bottom: 1em;
}

.disclaimer {
	font-style: italic;
	font-size: .8em;
}
