.music-pg {
	background-color: #1ED760;
	padding: 2em;
}

h2 {
	margin-bottom: 0;
}

p {
	font-size: 1em;
	line-height: 1.4;
}

.spotify-intro {
	box-sizing: border-box;
	background-color: #fff;
	width: 70%;
	padding: 1em;
	margin-bottom: 1em;
}

.disclaimer {
	font-style: italic;
	font-size: .8em;
}

.music-embed {
	width: 70%;
}

.music-embed iframe {
	width: 100%;
}
