.trail-pg,
.trail-results {
	background-color: #06D5DB;
	padding: 2em;
}

.trail-pg,
.trails-loading {
	height: 100vh;
}

.trails-loading {
	color: #fff;
}

.trail-search {
	box-sizing: border-box;
	background-color: #fff;
	width: 50%;
	padding: 1em;
	margin-top: 2em;
}

.trail-search p {
	margin-top: 0;
}
