.trail-pg,
.trail-results {
	background-color: #06D5DB;
	padding: 2em;
}

.hikes-loaded h2 {
	margin-bottom: 1em;
}

.trail-pg,
.trails-loading,
.no-hikes {
	height: 100vh;
}

.hike {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.hike-info,
.map {
	width: 45%;
}

.info-bit {
	margin-bottom: 1em;
}

.trails-loading {
	color: #fff;
}

.hike {
	width: 80%;
	padding: 2em;
	background-color: #fff;
	margin-bottom: 2em;
}

.map iframe {
	width: 100%;
}

.no-hikes {
	margin-top: 3em;
}
