.trivia-pg {
	background-color: #FFA100;
	padding: 2em;
	height: 1000px;
}

.trivia-content {
	margin-left: 15%;
	box-sizing: border-box;
}

.trivia-pg h2 {
	margin-bottom: 1em;
}

.trivia-pg li {
	list-style: none;
	margin-left: -2.5em;
	margin-bottom: .5em;
}

.trivia-question {
	background-color: #fff;
	padding: 1em;
	padding-left: 2em;
	width: 80%;
}

#quiz {
	margin-bottom: 1em;
}

#question {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#question-data {
	width: 60%;
}

#question-cat {
	width: 30%;
	border-left: 1px solid black;
	padding-left: 2em;
}

#question-cat h4 {
	margin-bottom: -.5em;
	color: #FFA100;
}

.trivia-btn {
	box-sizing: border-box;
	background-color: #9D2EF2;
	border: 2px solid #9D2EF2;
	width: 150px;
	padding: 10px;
	color: #fff;
	text-align: center;
	font-weight: 700;
}

.trivia-btn:hover {
	background-color: #fff;
}

.trivia-btn:hover a,
.trivia-btn a:hover {
	color: #9D2EF2;
}

.trivia-btn a{
	color: #fff;
}

.related-youtube {
	box-sizing: border-box;
	width: 84%;
	margin-top: 2em;
}

.trivia-vids {
	margin-right: 1em;
}
