// Place all the styles related to the YouTubeController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.video-pg {
	background-color: #FF0037;
	padding: 2em;
	height: 100%;
}

h2 {
	margin-bottom: 1em;
}

p {
	font-size: 1em;
	line-height: 1.4;
}

.video-intro {
	box-sizing: border-box;
	background-color: #fff;
	width: 80%;
	padding: 1em;
	margin-bottom: 1em;
}

.videos-back {
	width: 80%;
}

.vid-iframe {
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 2em;
	border: 15px solid white;
	background-color: #fff;
}

.vid-iframe iframe {
	width: 100%;
}

.video-content {
	margin-left: 15%;
}
