distance to hike: <span><%=@hikes[0]['distance']['text']%></span>
<br>
time to get to hike: <span><%=@hikes[0]['duration']['text']%></span>
<br>
address of hike: <span><%=@hikes[0]['end_address']%></span>
