<div class="category">
	<div class="trail-results">
		<div id="spinner" class="trails-loading"><h2>
			Loading...
		</h2>
		</div>
		<script>
			$(document).ajaxStop(function(){
				$('#spinner').hide();
			});
		</script>
	</div>
</div>
